In [1]:
print("Sajal's laptop")
print(r'c:\docs\nilo')
print('d:\docs\niloy')

Sajal's laptop
c:\docs\nilo
d:\docs
iloy

In [2]:
list_nums = [23,4,29,5,59,20]
print(sum(list_nums))
print(sorted(list_nums))

140
[4, 5, 20, 23, 29, 59]

In [3]:
#take some user input
x =int(input("Enter 1st number: "))
y=int(input("Enter 2nd number: "))
add = x+y
print("addition: ",add)

addition:  24

In [4]:
# conditional statement

#checking whether the number is even or odd
num =20
if num%2==0:
    print("Event")
else:
    print("ODD")
print('why!!')

Event
why!!

In [5]:
x=10
if x==1:
    print("one")
elif x==2:
    print("two")
else:
    print("May be i don't know")

May be i don't know

In [6]:
#Loop 
i=0
while i<=5:
    print(i,end=" ")
    i+=1

0 1 2 3 4 5

In [7]:
name = 'Sajal'
for i in name:
    print(i,end=" ")
print('\n*************')    
for i in range(11,20,2):
    print(i,end=" ")

S a j a l
*************
11 13 15 17 19

In [8]:
#let's print a pattern
row = range(4)
for i in row:
    for j in row:
        print("# ",end="")
    print()

# # # #
# # # #
# # # #
# # # #

In [11]:
a  = 12
def something():
    # global a
    a = 23  #local to the scope
    
    # x = globals()[a]
    print('in fun, ', a)
    
something()
print('a outside, ',a)

in fun,  23
a outside,  12

In [12]:
#formatted string literal
name = 'Sajal'
age = 12

print('my name is {} \n I am {}'.format(name,age)) #str.format
print(f'my name is {name} \n I am {age} years old')#f - string

my name is Sajal
 I am 12
my name is Sajal
 I am 12 years old

In [13]:
#factorial of number
def fact(n):
    fac = 1
    for i in range(1,n+1):
        fac = fac*i
    return fac

factorial = fact(5)
print(factorial)

120

In [17]:
#let's do it by recursion
def fact_rec(n):
    if n == 0:
        return 1
    return n*fact_rec(n-1)
    
factorial = fact_rec(10)
print(factorial)

3628800

In [19]:
#anonymous function ||| Lambda function

#let's calculate square of a number

def squ(a):
    return a*a

result = squ(5)
print(result)

fun = lambda a : a*a
print(fun(12))

25
144

In [25]:
#filter

nums = [2,34,12,45,65,20,68,10,33]

# def is_even(n):
#     return n%2==0


# even = list(filter(is_even,nums))
#using lambda function
even = list(filter(lambda n : n%2==0,nums))
print(even)

[2, 34, 12, 20, 68, 10]

In [27]:
double = list(map(lambda n : n*2,even))
print(double)

[4, 68, 24, 40, 136, 20]

In [28]:
from functools import reduce
value = reduce(lambda a,b : a+b,double)
print(value)

292

In [30]:
#Let's Something called decorator
def div(a,b):
    print(a/b)

def revise_div(func):
    
    def check(a,b):
        if a<b:
            a,b = b,a
        return func(a,b)
    return check
div = revise_div(div)
div(5,20)

4.0

In [3]:
num = 1039122
print(f'number: {num:,}')

number: 1,039,122

In [7]:
class Computer:
    def __init__(self) -> None:
        self.name = "Sajal"
        self.age = 23

c1 = Computer()
c2 = Computer()
c2.name = 'Shreya'

print(c1.name)
print(c2.name)

Sajal
Shreya

In [11]:
class Student:
    school  = 'ACD' #class variable
    
    #instance variable --- by constructor
    def __init__(self,m1,m2,m3) -> None:
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    
   #instance method
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    #class method
    @classmethod
    def info(cls):
        return cls.school
    
    #static method --not associate with methos
    @staticmethod
    def information():
        print("This is my school")
    
s1 = Student(12,13,14)
s2 = Student(15,16,17)

print(s1.avg())
print(Student.info())
Student.information()

13.0
ACD
This is my school

In [1]:
import pandas as pd
data = pd.DataFrame(
    {
        'data':[12,23,1,13],
        'data1':[213,43,342,452]
    }
)

In [2]:
data

   data  data1
0    12    213
1    23     43
2     1    342
3    13    452